<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaulert.arch_workmanager">

    <application
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name="com.vaulert.arch_workmanager.WorkManagerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>