<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assess15.arch_livedata">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.vaulert.arch_livedata.LiveDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>